[submodule "test/ArduinoJson"]
	path = test/ArduinoJson
	url = https://github.com/bblanchon/ArduinoJson.git
[submodule "test/TaskScheduler"]
	path = test/TaskScheduler
	url = https://github.com/arkhipenko/TaskScheduler
[submodule "test/simulator"]
	path = test/simulator
	url = https://github.com/Alteriom/painlessMesh-simulator.git
